@font-face {
    font-family: 'TT Lakes Regular';
    src: url('../assets/fonts/TTLakes-Regular.eot');
    src: url('../assets/fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/TTLakes-Regular.woff') format('woff'),
    url('../assets/fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes Medium';
    src: url('../assets/fonts/TTLakes-Medium.eot');
    src: url('../assets/fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/TTLakes-Medium.woff') format('woff'),
    url('../assets/fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes Bold';
    src: url('../assets/fonts/TTLakes-Bold.eot');
    src: url('../assets/fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/TTLakes-Bold.woff') format('woff'),
    url('../assets/fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body{
    margin: 0;
    font-family: 'TT Lakes Regular',"Arial", sans-serif;
}

.header{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 88px;
    background-color:#FFFFFF;
    border-bottom: 1px solid #D9FFF5;
    justify-content: space-between;
}


button {
    border: 0;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
}

.buttons{
    display: flex;
     list-style-type: none;
     margin: 0;
     padding: 0;
}

.header__menu{
    display: flex;
}

.burger-menu{
    background-image: url("../assets/svg/burger.svg");
}
.buttons__phone-btn{
    background-image: url("../assets/svg/call.svg");
}

.buttons__chat-btn{
    background-image: url("../assets/svg/chat.svg");
}

.buttons__profile-btn{
    background-image: url("../assets/svg/profile.svg");
}
.buttons__repair-btn{
    background-image: url("../assets/svg/repair.svg");
}

.buttons__checkstatus-btn{
    background-image: url("../assets/svg/checkstatus.svg");
}

    .title{
        margin: 0;
        font-size: 28px;
        line-height: 40px;
        font-family: 'TT Lakes Bold';

    }

    .menu-services{

        display: flex;
        align-items:center;
        list-style:none;
        margin: 0;
        padding: 0;
        gap:16px;
        width: 100%;
    }

    .menu-services__link{
        text-decoration: none;
        color: #7E7E82;
        font-size: 16px;
        line-height: 24px;
        padding: 10px 10px 10px 10px;
        font-family: "TT Lakes Medium","Arial", sans-serif;
        
    }

    .menu-services__item{
         white-space:nowrap;
         padding: 8px 7px 8px 7px;
         border: 2px solid transparent;
         border-radius: 6px;
         
  
    }

    .menu-services__item:active, .menu-services__item:hover {
        background-color:#FFFFFF;
        border: 2px solid #B8FFEC;
        border-radius: 6px;
    }

    .content{
        display: flex;
        
    }

    .content__read-more-btn{
        font-size: 16px;
        padding: 0;
        font-family: "TT Lakes Medium","Arial", sans-serif;
        line-height: 24px;
        letter-spacing: -0.2px;
        padding-bottom: 15px;
    }

    .read-more-btn__icon{
        padding-right: 16px;
    }


@media (min-width: 20px) and (max-width: 767px){

    .header{
        gap: 16px;
    }

    .header__menu{
        padding-left: 16px;
        display: flex;
        gap:16px;
    }

    .header__buttons{
        gap:16px;
        padding-right: 16px;
    }

    .buttons__phone-btn{
        display: none;
    }
    .buttons__chat-btn{
        display: none;
    }
    .buttons__profile-btn{
        display: none;
    }

    .header__buttons::before{
        content:"";
        width: 2px;
        height: 32px;
        background: #EAEAEA;
        border-radius: 1px;
        align-self: center;
        margin-right: 4px;
    }

    .page{
        padding-top: 24px;
        padding-left: 16px;
        padding-right: 16px;
        background-color:#F8F8F8;
        height: 100vh;
    }

    .menu-services{
        overflow: scroll;
    }

    .page__title{
        margin-bottom: 24px;
    }

    .page__title::before{
        content:"";
        width: 4px;
        height: 40px;
        background: #41F6D7;
        border-radius: 6px;
        position: fixed;
        left:0px;
    }

    .page__buttons{
        display: none;
    }

    .content{
        flex-direction: column;
        padding: 0;
        justify-content: space-between;
    }
   
    .content__text{
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
    }

    .content__text--invisible{
        display: none;
    }

    .content__read-more-btn{
        padding-left: 8px;
    }

    .content__CPS-img{
        margin-left:-16px;
        width: 100vw;

    }  
}


@media (min-width: 768px) and (max-width: 1119px){

    .header{
        padding: 24px;
        padding-bottom: 0;
        padding-top: 0;

    }
    .page{
        padding: 24px;
        background-color:#F8F8F8;
        height: 100vh;

    }

     .header__menu{
        display: flex;
        gap:40px;
    }

    .header__burger-menu::after{
        content:"";
        width: 2px;
        height: 32px;
        background: #EAEAEA;
        border-radius: 1px;
        position: absolute;
        top:29px;
        left: 84px;

    }
    .header__buttons{
        gap:16px;
    }

    .buttons__profile-btn{
        margin-right: 40px;
    }

    .buttons__profile-btn::after{
        content:"";
        width: 2px;
        height: 32px;
        background: #EAEAEA;
        border-radius: 1px;
        position: absolute;
        top:29px;
        right: 142px;
    }

    .page__buttons{
        display: none;
    }

    .menu-services{
        overflow: scroll;
    }

    .page__title{
        margin-bottom: 24px;
    }

    .page__title::before{
        content:"";
        width: 4px;
        height: 40px;
        background: #41F6D7;
        border-radius: 6px;
        position: fixed;
        left:0px;
    }

    .content{
        justify-content: space-between;
        gap:48px;
        padding-top: 32px;
    }

    .content__text{
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
    }

    .content__text--visible{
        margin-top: 0;
    }

    .content__text--invisible{
        max-height: 40px;
        overflow: hidden;
    }

    .content__CPS-img{
        border-radius: 8px;
        height: auto;
        width: 111%;

    }

    .content__read-more-btn{
        padding-left: 9px;
    }

}

@media (min-width: 1120px) {

     .header{
        display: none;
    }

    .page{
        padding-top: 42px;
        padding: 32px;
        background-color:#F8F8F8;
        height: 100vh;
         
    }

    .page__title{
        max-width: max-content;

    }
    .main-page{
        display: flex;
        justify-content: space-between;
    }

    .page__title::before{
        content:"";
        width: 4px;
        height: 40px;
        background: #41F6D7;
        border-radius: 6px;
        position: fixed;
        left:0px;
    }


    .page__buttons{
        display: flex;
        list-style-type: none;
        gap:12px;
        margin-top: -10px;
        padding: 0;
        margin-bottom: 0;
    }


    .page__repair-btn{
        background-image: url("../assets/svg/repair.svg");
        background-position: right;
        padding-right: 50px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        font-family: "TT Lakes Medium", "Arial", sans-serif;
    }

    .page__checkstatus-btn{
        background-image: url("../assets/svg/checkstatus.svg");
        background-position: right;
        padding-right: 50px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        font-family: "TT Lakes Medium", "Arial", sans-serif;
    }

    .menu-services{
        flex-wrap: wrap;
        gap:0;
    }

    .page__menu-services{
        width: auto;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
    }


    .content{
        gap: 36px;
        
    }

    .content__text{
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        
    }

    .content__CPS-img{
        border-radius: 8px;
        height: auto;
        width: 175%;
    }

   .content__read-more-btn{
        padding-left: 8px;
    }
}